body{
  background-color: grey;
}

.container{
  position: relative;
  width: 600px;
  margin: auto;
  background-color: darkgrey;
  padding: 20px;
  border: blue 3px solid;
  border-radius: 10px;
}

#feedback{
  background-color: yellow;
  color: red;
  font-size: 30px;
  font-weight: bold;
}

.treasures{
  position:absolute;
  left:500px;
  top:150px;
}
